footer.footer 
	.container 
		.footer__inner
			h2.footer__title Contacts
			dl.footer__contacts
				.footer__contacts-item 
					dt Telephone:
					dd +1 (123) 456-7890
				.footer__contacts-item 
					dt Office hours:
					dd Mon–Sat from 9:00 to 19:00 #[br] 
					|In touch with clients 24/7
				.footer__contacts-item 
					dt Address
					dd Main Street, New York, NY 10001
			.footer__bottom 
				.footer__logo.logo
					a(href="#").footer__logo-link
						img(src="images/logo-black.svg", alt="")
				button.footer__btn.btn Order a consultation
