header.header
	.container 
		.header__inner 
			a.logo.header__logo(href="#") 
				img(src="images/logo.svg", alt="")
			button.header__btn.btn Order a consultation 
			button.header__menu 
				img(src="images/btn-menu.svg", alt="")