section.top 
	.container 
		.top__inner
			.top__about
				.top__info 
					h3.top__info-title Interiors Studio
					p.top__text We create modern interior design for apartments and houses in New York
				.top__slogan
					h1.top__title Design that Adds Flavor to Your Life!
					img(src="images/top.webp", alt="").top__images
			.top__promo
				h3.top__promo-title Free Designer Chandelier
				p.top__promo-text When you choose the 
					span All-Inclusive package
				img(src="images/promo.webp", alt="").top__promo-img
				button.top__promo-btn Choose the tariff