section.about 
	.container 
		.about__wrapper 
			.about__inner 
				h3.about__subtitle About us
				h2.about__title Welcome to our studio, where modern design art comes to life in unique interiors.
				p.about__text We are a creative team united by a passion for creating spaces that inspire and bring joy. Our professional designers carefully listen to your needs to turn your dreams into reality. Regardless of style—whether modern minimalism or classic elegance—we craft unique concepts, highlighting your individuality. Your home is your space for self-expression, and we're ready to help you give it a distinctive character. Entrust us with creating your perfect interior, where aesthetics meets functionality.