.statistics 
	.container
		dl.statistics__list
			.statistics__item
				dt.statistics__num 10
				dd.statistics__text  years
				dd.statistics__text experience
			.statistics__item
				dt.statistics__num 2
				dd.statistics__text weeks
				dd.statistics__text average development time
				dd.statistics__text for your design project
			.statistics__item
				dt.statistics__num 360
				dd.statistics__text  clients
				dd.statistics__text who enjoy their home